body {
    background-color: black;
}

.board {
    display: grid;
    grid-template-columns: 15em 15em 15em 15em 15em 15em;
    grid-template-rows: 7em 7em 7em 7em 7em 7em;
    justify-content: center;
    padding-top: 5px;
    color: #FFD700;
    font-family: fantasy;
    text-shadow: 3px 3px black;
}

.board-header {
    display: grid;
    grid-template-columns: 15em 15em 15em 15em 15em 15em;
    justify-content: center;
    margin-top: 8em;
    color: #FFD700;
    font-family: fantasy;
    text-shadow: 3px 3px black;
}

.box {
    background-color: blue; /*#060CE9 this is the color of the jeopardy board*/
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 40px;
    text-align: center;
  }